/* Спецификация */
* {
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Cuprum', sans-serif;
	font-family: 'Roboto', sans-serif;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
/* Первый экран */
header{
	display: block;
    background: url(../img/header-img.png) no-repeat center / cover;
    height: 221px;
    font-family: 'Cuprum';
}
.menu{
	text-align: center;
    margin-top: 50px;
}
.menu__item{
    margin: 0 87.5px;
}
.menu__item a{
	text-decoration: none;
	color: #fff;
	font-size: 49px;
}
.menu__item a:hover{
	color: #f94848;
	transition: all 0.1s ease;
}

.header__line1{
    margin-top: 140px;
    text-align: center;
    margin-bottom: 50px;
}
.oleg__goncharenko{
	float: left;
	margin-top: 20px;
}
.text1{
	float: right;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    margin-top: 50px;
}
.header__line2{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.text2{
	width: 1170px;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Roboto';
	text-align: center;
	line-height: 40px;
}
.header__line3{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
/* Второй экран */
#section1{
	display: block;
	height: 748px;
	background: url(../img/section1-bg-img.png); 
	margin-top: 1340px;
}
.section1__text1{
	color: #fff;
	font-family: 'Roboto';
	font-weight: 300;
	text-align: center;
	font-size: 35px;
	margin-top: 280px;
	line-height: 40px;
}
/* Третий экран */
.content1{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
	font-family: 'Roboto';
	font-weight: 300;
}
.section2__line1{
    margin: 30px 0;
}
.section2__text1{
    text-align: center;
    line-height: 40px;
}
.section2__line2{
    margin: 30px 0;
}
.section2__text2{
    text-align: center;
    line-height: 40px;
}
.section2__line3{
    margin: 30px 0;
}
.section2__text3{
	font-size: 30px;
	font-family: 'Roboto';
	font-weight: 300;
	margin-top: -20px;
	line-height: 40px;
}
.book{
	margin-top: 75px;
}
.text3{
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
}
.section2__line4{
	margin-top: 70px;
	text-align: center;
}
/* етвертый экран */
#footer{
	height: 220px;
	font-family: 'Roboto';
	font-weight: 300;
	background: url(../img/footer-img.png);
	margin-top: 40px;
}
.footer{
	margin-top: 90px;
	float: right;
	margin-right: 60px;
}
.footer a{
	font-size: 14px;
	color: #fff;
	margin: 0 31px;
	margin-top: 65px;
}
.footer a:hover{
	color: #f94848;
	transition: all 0.1s ease;
}